@import 'fonts';

$h0 : #000000;
$h1 : #faae15;
$h2 : #7f2527;
$h3 : #122a48;
$hx_dark : #dad8de;
$dark_grey : #303030;

@mixin badge($house) {
  background: url('chrome-extension://__MSG_@@extension_id__/src/assets/badges/#{$house}/18.png') left center no-repeat;
  @-moz-document url-prefix() {
    & {
        background: url('moz-extension://__MSG_@@extension_id__/src/assets/badges/#{$house}/18.png') left center no-repeat;
    }
  }
}

@mixin background($house) {
  background: transparent url('chrome-extension://__MSG_@@extension_id__/src/assets/backgrounds/#{$house}.png') no-repeat right center;
  @-moz-document url-prefix() {
    & {
      background: transparent url('moz-extension://__MSG_@@extension_id__/src/assets/backgrounds/#{$house}.png') no-repeat right center;
    }
  }
  background-size: contain;
  background-attachment: fixed;
}

#slaw-badges-points {
  &.float-left {
    display: inline-block;
    line-height: 3rem;
    width: 100%;

    .slaw-points {
      float: left;
      margin-right: 10px;
    }
  }

  .slaw-points {
    align-self: center;

    .badge {
      display: inline-block;
      vertical-align: middle;
      width: 22px;
      height: 18px;

      &.h0 {@include badge('h0');}
      &.h1 {@include badge('h1');}
      &.h2 {@include badge('h2');}
      &.h3 {@include badge('h3');}
    }

    .points {
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;

      &.h0 {color: $h0;}
      &.h1 {color: $h1;}
      &.h2 {color: $h2;}
      &.h3 {color: $h3;}
    }
  }
}

#slaw-badges-gamble {
  max-height: 30px;

  .slaw-gamble {
    align-self: center;

    .gamble {
      position: relative;
      font-size: 24px;
      display: inline-block;
      vertical-align: middle;

      &.off {
        color: $dark_grey;
      }
    }
  }
}

html, body {
  &.tw-theme--dark {
    #slaw-badges-points {
      .slaw-points {
        .points {
          &.h1, &.h2, &.h3 {
            color: $hx_dark;
          }
        }
      }
    }
  }
}

.slaw-extension {
  .tw-tooltip {
    display: none;
  }

  &:hover {
    .tw-tooltip {
      display: block;
    }
  }
}

.chat-list__lines {
  .simplebar-content {
    position: relative;
    &:before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 370px;
      height: 100%;
      z-index: -1;
      opacity: 0.17;
      pointer-events: none;
    }

    &.h1 { &:before { @include background('h1'); } }
    &.h2 { &:before { @include background('h2'); } }
    &.h3 { &:before { @include background('h3'); } }
  }
}

.right-column--theatre {
  .chat-list__lines {
    .simplebar-content {
      &:before {
        width: 339px;
      }
    }
  }
}
