$h0 : #000000;
$h1 : #faae15;
$h2 : #7f2527;
$h3 : #122a48;

@mixin badge($house) {
  background: url('chrome-extension://__MSG_@@extension_id__/src/assets/#{$house}.png') left center no-repeat;
}

#slaw-badges-points {
  .slaw-points{
    align-self: center;

  .badge {
      display: inline-block;
      vertical-align: middle;
      width: 22px;
      height: 18px;

      &.h0 {@include badge('h0');}
      &.h1 {@include badge('h1');}
      &.h2 {@include badge('h2');}
      &.h3 {@include badge('h3');}
    }

    .points {
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;

      &.h0 {color: $h0;}
      &.h1 {color: $h1;}
      &.h2 {color: $h2;}
      &.h3 {color: $h3;}
    }
  }
}
