#slaw-badges-points.float-left {
  display: inline-block;
  line-height: 3rem; }
  #slaw-badges-points.float-left .slaw-points {
    float: left;
    margin-right: 10px; }
#slaw-badges-points .slaw-points {
  align-self: center; }
  #slaw-badges-points .slaw-points .badge {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 18px; }
    #slaw-badges-points .slaw-points .badge.h0 {
      background: url("chrome-extension://__MSG_@@extension_id__/src/assets/badges/h0/18.png") left center no-repeat; }
@-moz-document url-prefix() {
  #slaw-badges-points .slaw-points .badge.h0 {
    background: url("moz-extension://__MSG_@@extension_id__/src/assets/badges/h0/18.png") left center no-repeat; } }
    #slaw-badges-points .slaw-points .badge.h1 {
      background: url("chrome-extension://__MSG_@@extension_id__/src/assets/badges/h1/18.png") left center no-repeat; }
@-moz-document url-prefix() {
  #slaw-badges-points .slaw-points .badge.h1 {
    background: url("moz-extension://__MSG_@@extension_id__/src/assets/badges/h1/18.png") left center no-repeat; } }
    #slaw-badges-points .slaw-points .badge.h2 {
      background: url("chrome-extension://__MSG_@@extension_id__/src/assets/badges/h2/18.png") left center no-repeat; }
@-moz-document url-prefix() {
  #slaw-badges-points .slaw-points .badge.h2 {
    background: url("moz-extension://__MSG_@@extension_id__/src/assets/badges/h2/18.png") left center no-repeat; } }
    #slaw-badges-points .slaw-points .badge.h3 {
      background: url("chrome-extension://__MSG_@@extension_id__/src/assets/badges/h3/18.png") left center no-repeat; }
@-moz-document url-prefix() {
  #slaw-badges-points .slaw-points .badge.h3 {
    background: url("moz-extension://__MSG_@@extension_id__/src/assets/badges/h3/18.png") left center no-repeat; } }
  #slaw-badges-points .slaw-points .points {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold; }
    #slaw-badges-points .slaw-points .points.h0 {
      color: #000000; }
    #slaw-badges-points .slaw-points .points.h1 {
      color: #faae15; }
    #slaw-badges-points .slaw-points .points.h2 {
      color: #7f2527; }
    #slaw-badges-points .slaw-points .points.h3 {
      color: #122a48; }

html.tw-theme--dark #slaw-badges-points .slaw-points .points.h1, html.tw-theme--dark #slaw-badges-points .slaw-points .points.h2, html.tw-theme--dark #slaw-badges-points .slaw-points .points.h3, body.tw-theme--dark #slaw-badges-points .slaw-points .points.h1, body.tw-theme--dark #slaw-badges-points .slaw-points .points.h2, body.tw-theme--dark #slaw-badges-points .slaw-points .points.h3 {
  color: #dad8de; }
